:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    --size: 32ch;
    --transition-duration: 200ms;
    --transition-ease: cubic-bezier(0.2, 0.9, 0.3, 1);

    --btn-bg: #999081;
    --btn-hover-bg: #d7cdb7;
    --btn-active-bg: #ea9c50;
    --btn-border: #dcd2c3;
    --btn-focus-ring: 0 0 0 4px rgba(234,156,80,0.18);
}